:root {
	--text: #111;
	--bg: #fff;
	--text-2: #444;
	--text-bg: #b5b5b5;
	--desktop-width: 1596px;
}

* {
	font-family: 'Inter', sans-serif;
	color: var(--text);
	box-sizing: border-box;
	line-height: 130%;
}

.app {
	margin: 0 auto;
	padding: 0 32px;
	position: relative;
	max-width: var(--desktop-width);
}

@media (max-width: 800px) {
	.app {
		padding: 0 16px;
	}
}

@media (max-width: 950px) {
	.app {
		padding: 0 24px;
	}
}

body {
	background: var(--background-color);
	margin: 0;
	padding: 0;
}

/* don't change! */
main {
	padding: 0 !important;
	margin: 0 !important;
	flex-grow: 1;
	/* overflow-y: auto; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

html {
	padding: 0 !important;
	margin: 0;
	scroll-behavior: smooth;
}
